@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.conatiner {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}
body {
  background-color: hsl(202, 86%, 94%);
  font-family: "Plus Jakarta Sans", sans-serif;
}
main {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
section {
  display: flex;
  align-items: center;
  margin-top: 200px;
  background-color: white;
}
.section_nav {
  max-width: 600px;
  background-color: white;
  padding: 35px 140px 20px 30px;
  border-radius: 16px 0 0 16px;
}
.main_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
.main_nav h1 {
  font-size: 16px;
  color: hsl(202, 55%, 16%);
}
.main_nav a {
  font-size: 13px;
  color: hsl(200, 26%, 54%);
  font-weight: 600;
  letter-spacing: 0.46px;
}
.form_input label {
  display: block;
  font-size: 13px;
  color: hsl(200, 26%, 54%);
  padding-bottom: 10px;
}
.form_input input {
  padding: 10px 37px;
  width: 100%;
  color: hsl(200, 26%, 54%);
  font-weight: 900;
  outline: none;
  border: 2px solid hsl(200, 26%, 54%);
  border-radius: 9px;
}
.form_input > input::placeholder {
  color: hsl(202, 55%, 16%);
}
.form_input {
  position: relative;
}
.form_cards {
  position: absolute;
  top: 28px;
  left: 1px;
  width: 38px;
  border-radius: 7px 0 0 7px;
  height: 39px;
  background-color: hsl(202, 86%, 94%);
}
.form_cards p {
  padding: 10px 10px 10px 14px;
}
.form_input2 input {
  width: 150px;
}
.form_input2 {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 30px 0;
}
.form_input2_1 {
  position: relative;
}
.form_cards2_1 {
  position: absolute;
  top: 28px;
  right: 1px;
  width: 50px;
  padding: 10px;
  border-radius: 0 7px 7px 0;
  font-weight: 700;
  height: 39px;
  background-color: hsl(202, 86%, 94%);
}
.form_cards2_1 p {
  font-size: 13px;
  font-weight: 700;
  color: hsl(200, 26%, 54%);
}
.form_cards2_2 p {
  font-size: 18px;
  padding: 0 0 0 14px;
  font-weight: 900;
  color: hsl(200, 26%, 54%);
}
.form_input2_2 {
  position: relative;
}
.form_input2_1 input::placeholder {
  color: hsl(135, 56%, 16%);
}
.form_input2_2 input::placeholder {
  color: hsl(135, 56%, 16%);
}
.form_cards2_2 {
  position: absolute;
  top: 28px;
  right: 1px;
  width: 50px;
  padding: 10px 5px 0 1px;
  border-radius: 0 7px 7px 0;
  height: 39px;
  background-color: hsl(202, 86%, 94%);
}
.form_input2_1 input {
  width: 100%;
  padding: 10px 0px 10px 8px;
}
.form_input2_2 input {
  width: 100%;
  padding: 10px 0px 10px 8px;
}
.main_radio legend {
  margin-bottom: 10px;
  letter-spacing: 1px;
  color: hsl(200, 26%, 54%);
}
.main_radio_div1 {
  width: 100%;
  padding: 15px;
  height: 50px;
  background-color: hsla(54, 75%, 45%, 0.291);
  border: 1px solid hsl(61, 70%, 52%);
  border-radius: 7px;
  display: flex;
  align-items: center;
}
.main_radio_div2 {
  margin-top: 10px;
  border-radius: 7px;
  width: 100%;
  padding: 15px;
  height: 50px;
  display: flex;
  align-items: center;
  border: 1px solid hsl(135, 56%, 16%);
}
.radio-btn {
  appearance: none;
  width: 17px;
  height: 17px;
  border: 2px solid #333;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  display: inline-block;
  margin-right: 8px;
}

.radio-btn:checked {
  background-color: hsl(61, 75%, 38%);
  border-color: #ffea00;
}
.main-btn {
  margin-top: 30px;
}

.main-btn button {
  width: 70%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  align-items: center;
  background-color: hsl(61, 60%, 48%);
}
.main-btn p {
  font-size: 16px;
  color: hsl(201, 54%, 23%);
}
.section_cardsImg {
  max-width: 350px;
  padding: 110px 20px;
  background: hsl(201, 54%, 23%);
  border-radius: 0 16px 16px 35px;
}
.section_cardsImg_card {
  max-width: 300px;
  background-color: hsl(201, 78%, 16%);
  border-top: 2px solid hsl(61, 70%, 52%);
  margin: 20px auto 20px auto;
  padding: 16px;
  border-radius: 10px;
}
.section_cardsImg > h1 {
  color: #cfcfcf;
  font-size: 16px;
  text-align: center;
}
.section_cardsImg > p {
  color: hsl(200, 26%, 54%);
  font-size: 12px;
  font-weight: 800;
  margin-top: 16px;
  text-align: center;
}
hr {
  border: 0.1px solid hsl(200, 11%, 39%);
}
.section_cardsImg_card p {
  color: hsl(200, 26%, 54%);
  font-weight: 800;
  font-size: 12px;
  margin-bottom: 16px;
}
.section_cardsImg_card h1 {
  font-weight: 800;
  font-size: 47px;
  margin-bottom: 16px;
  color: #ffea00;
}
.section_cardsImg_card h5 {
  font-weight: 800;
  font-size: 12px;
  margin: 16px 0;
  color: hsl(200, 26%, 54%);
}
.section_cardsImg_card h2 {
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 16px;
  color: hsl(0, 0%, 100%);
}
.section_cardsImg2 {
  display: none;
}
@media (max-width: 475px) {
  .form_input2 {
    display: block;
  }
  .form_input input ::placeholder {
    display: none;
  }
  .main_radio_div1 {
    background-color: hsl(0, 0%, 100%);
    border: 1px solid black;
  }
}
@media (max-width: 577px) {
  .section_nav {
    padding: 20px;
  }
  .main-btn span {
    display: none;
  }
  .main_nav {
    display: block;
    gap: 10px;
  }
  .section_cardsImg {
    display: none;
  }
  .section_cardsImg2 h1 {
    text-align: center;
    margin: 20px 0;
    color: white;
  }
  .section_cardsImg2 p {
    text-align: center;
    margin: 20px 0;
    color: rgb(226, 226, 226);
  }
  .section_cardsImg2 img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .section_cardsImg2 {
    display: block;
    max-width: 550px;
    padding: 110px 20px;
    background: hsl(201, 54%, 23%);
    border-radius: 0 16px 16px 35px;
  }
}
@media (max-width: 309px) {
  .main-btn button {
    width: 160px;
  }
}
@media (max-width: 850px) {
  section {
    flex-direction: column;
  }
  .section_cardsImg {
    max-width: 600px;
  }
}
@media (max-width: 577px) {
  .section_cardsImg {
    max-width: 470px;
  }
}
@media (max-width: 475px) {
  .section_cardsImg {
    max-width: 310px;
  }
}
